---
layout: page
---

<h1>Обзоры</h1>
<ul class="list-unstyled">
  {% for post in site.posts %}
    {% capture basename %}{{ post.pgn | split: '/' | last }}{% endcapture %}
    {% capture dir %}{{ post.pgn | remove: basename }}{% endcapture %}

    {% for trn in site.tournaments %}
      {% capture trndir %}{{ trn.dir | append: '/' }}{% endcapture %}
      {% if trndir == dir %}
        {% capture tournamentlink %}<a href="{{ trn.url }}">{{ trn.name }}</a>{% endcapture %}
      {% endif %}
    {% endfor %}

    {% capture gamedate %}{{ basename | truncate: 11, '' }}{% endcapture %}
    {% capture players %}{{ basename | remove: gamedate | remove: '-with-comments.pgn' }}{% endcapture %}

    {% capture white %}{{ players | split: '-vs-' | first }}{% endcapture %}
    {% capture whitelink %}
    <a href="http://www.linux.org.ru/people/{{ white }}/profile">{{ white }}</a>
    {% endcapture %}

    {% capture black %}{{ players | split: '-vs-' | last }}{% endcapture %}
    {% capture blacklink %}
    <a href="http://www.linux.org.ru/people/{{ black }}/profile">{{ black }}</a>
    {% endcapture %}

    <li>
      <p class="lead" style="margin-bottom:0"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
      <dl class="dl-horizontal">
        <dt>Дата:</dt><dd>{{ post.date | date_to_string }}</dd>
        <dt>Турнир:</dt><dd>{{ tournamentlink }}</dd>
        <dt>Игра:</dt><dd>{{ whitelink }} vs. {{ blacklink }} ({{ gamedate | date: "%d.%m.%Y" }})</dd>
      </dl>
    </li>
  {% endfor %}
</ul>
