<center data-spy="affix">
  <div id="GameSelector"></div>
  <b><span id="GameWhite"></span>&nbsp;-&nbsp;<span id="GameBlack"></span>&nbsp;&nbsp;<span id="GameResult"></span></b>
  <p></p>
  <div id="BoardWrapper">
    <div id="GameBoard"></div>
    <!-- Chess board vertical marks -->
    <span class="board_mark vert" style="bottom:0px;">1</span>
    <span class="board_mark vert" style="bottom:56px;">2</span>
    <span class="board_mark vert" style="bottom:112px;">3</span>
    <span class="board_mark vert" style="bottom:168px;">4</span>
    <span class="board_mark vert" style="bottom:224px;">5</span>
    <span class="board_mark vert" style="bottom:280px;">6</span>
    <span class="board_mark vert" style="bottom:336px;">7</span>
    <span class="board_mark vert" style="bottom:392px;">8</span>
    <!-- Chess board horizontal marks -->
    <span class="board_mark horz" style="left:0px;">a</span>
    <span class="board_mark horz" style="left:56px;">b</span>
    <span class="board_mark horz" style="left:112px;">c</span>
    <span class="board_mark horz" style="left:168px;">d</span>
    <span class="board_mark horz" style="left:224px;">e</span>
    <span class="board_mark horz" style="left:280px;">f</span>
    <span class="board_mark horz" style="left:336px;">g</span>
    <span class="board_mark horz" style="left:392px;">h</span>
  </div>
  <p></p>
  <div id="GameButtons"></div>
  <p></p>
  <div id="GameSelector"></div>
</center>

<!-- pgn4web JavaScript -->
<script src="{{ site.baseurl }}/assets/js/pgn4web.js" type="text/javascript"></script>
<!-- Show chess informant style symbols when the corresponding PGN NAGs are found -->
<script src="{{ site.baseurl }}/assets/js/chess-informant-NAG-symbols.js" type="text/javascript"></script>
<script type="text/javascript">
 "use strict";

 SetImagePath("{{ site.baseurl }}/assets/img/chesspieces/wikipedia");
 SetImageType("png");
 SetGameSelectorOptions("Выбрать партию ...", false, 0, 0, 0, 15, 15, 0, 10); // (head, num, chEvent, chSite, chRound, chWhite, chBlack, chResult, chDate);
 SetCommentsOnSeparateLines(true);
 SetAutoplayDelay(1000); // milliseconds
 SetAutostartAutoplay(false);
 SetAutoplayNextGame(false); // if set, move to the next game at the end of the current game during autoplay
 SetShortcutKeysEnabled(false);
</script>
