<div class="col-xs-12 col-sm-5 col-md-4" id="GameWrapper">
  <center data-spy="affix">
    <b><span id="GameWhite"></span>&nbsp;-&nbsp;<span id="GameBlack"></span>&nbsp;&nbsp;<span id="GameResult"></span></b>
    <p></p>
    <div id="GameBoard"></div>
    <p></p>
    <div id="GameButtons"></div>
    <p></p>
    <div id="GameSelector"></div>
  </center>
</div>

<div class="col-xs-12 col-sm-7 col-md-8">
  <div id="GameText"></div>
</div>

<!-- Add the extra clearfix -->
<div class="clearfix"></div>

<!-- pgn4web JavaScript -->
<script src="{{ site.baseurl }}/assets/js/pgn4web.js" type="text/javascript"></script>
<!-- Show chess informant style symbols when the corresponding PGN NAGs are found -->
<script src="{{ site.baseurl }}/assets/js/chess-informant-NAG-symbols.js" type="text/javascript"></script>
<script type="text/javascript">
 "use strict";

 SetImagePath("{{ site.baseurl }}/assets/images/pgn4web/merida/36");
 SetImageType("png");
 SetCommentsOnSeparateLines(true);
 SetAutoplayDelay(1500); // milliseconds
 SetAutostartAutoplay(false);
 SetAutoplayNextGame(false); // if set, move to the next game at the end of the current game during autoplay
 SetShortcutKeysEnabled(false);
</script>