<table class="table table-bordered table-condensed">
  <caption>LOR Chess : Осень-2013<caption>
  <thead>
    <tr>
      <th></th>
      <th>Участник</th>
      <th>elo</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>Очки</th>
      <th>Место</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>DoctorSinus</td>
      <td>1048</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td>1.0</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Kakadu</td>
      <td>1355</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td>9.0</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td>trex6</td>
      <td>986</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td>2.0</td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td>aptyp</td>
      <td>1182</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td>4.0</td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td>J</td>
      <td>1148</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td>5.0</td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td>Michkova</td>
      <td>1295</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td>4.0</td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td>HunOL</td>
      <td>1374</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td>5.5</td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td>darkenshvein</td>
      <td>1192</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>0.0</td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td>iVS</td>
      <td>1392</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td>5.5</td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td>Nedis</td>
      <td>1199</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>5.0</td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td>отсутствует</td>
      <td>1200</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>0.0</td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td>shell-script</td>
      <td>947</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td>1.0</td>
      <td></td>
    </tr>
    <tr>
      <td>13</td>
      <td>redgremlin</td>
      <td>1154</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td>6.5</td>
      <td></td>
    </tr>
    <tr>
      <td>14</td>
      <td>Magian</td>
      <td>1436</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td>4.5</td>
      <td></td>
    </tr>
    <tr>
      <td>15</td>
      <td>Genuine</td>
      <td>1398</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>5.0</td>
      <td></td>
    </tr>
    <tr>
      <td>16</td>
      <td>LongLiveUbuntu</td>
      <td>1203</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>0.0</td>
      <td></td>
    </tr>
    <tr>
      <td>17</td>
      <td>raven_cler</td>
      <td>902</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>2.5</td>
      <td></td>
    </tr>
    <tr>
      <td>18</td>
      <td>uroboros</td>
      <td>1439</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>7.5</td>
      <td></td>
    </tr>
    <tr>
      <td>19</td>
      <td>farzeet</td>
      <td>1105</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td>0.0</td>
      <td></td>
    </tr>
    <tr>
      <td>20</td>
      <td>MyTrooName</td>
      <td>1167</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td>6.0</td>
      <td></td>
    </tr>
  </tbody>
</table>
