<table class="table table-bordered tournament">
  <caption><strong>LOR Chess : Осень-2013</strong><caption>
  <thead>
    <tr>
      <th></th>
      <th>Участник</th>
      <th>elo*</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>Очки</th>
      <th>Место</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><strong>DoctorSinus</strong></td>
      <td>1048</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <td>2</td>
      <td><strong>Kakadu</strong></td>
      <td>1355</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td>9</td>
      <td></td>
    </tr>
    <tr>
      <td>3</td>
      <td><strong>trex6</strong></td>
      <td>986</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td>2</td>
      <td></td>
    </tr>
    <tr>
      <td>4</td>
      <td><strong>aptyp</strong></td>
      <td>1182</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <td>5</td>
      <td><strong>J</strong></td>
      <td>1148</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>6</td>
      <td><strong>Michkova</strong></td>
      <td>1295</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td>4</td>
      <td></td>
    </tr>
    <tr>
      <td>7</td>
      <td><strong>HunOL</strong></td>
      <td>1374</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td>5.5</td>
      <td></td>
    </tr>
    <tr>
      <td>8</td>
      <td><strong>darkenshvein</strong></td>
      <td>1192</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>9</td>
      <td><strong>iVS</strong></td>
      <td>1392</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td>5.5</td>
      <td></td>
    </tr>
    <tr>
      <td>10</td>
      <td><strong>Nedis</strong></td>
      <td>1199</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>11</td>
      <td><strong><em style="font-weight:normal">отсутствует</em></strong></td>
      <td>&mdash;</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>12</td>
      <td><strong>shell-script</strong></td>
      <td>947</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <td>13</td>
      <td><strong>redgremlin</strong></td>
      <td>1154</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td>6.5</td>
      <td></td>
    </tr>
    <tr>
      <td>14</td>
      <td><strong>Magian</strong></td>
      <td>1436</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td>5.5</td>
      <td></td>
    </tr>
    <tr>
      <td>15</td>
      <td><strong>Genuine</strong></td>
      <td>1398</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>16</td>
      <td><strong>LongLiveUbuntu</strong></td>
      <td>1203</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <td>17</td>
      <td><strong>raven_cler</strong></td>
      <td>902</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>3.5</td>
      <td></td>
    </tr>
    <tr>
      <td>18</td>
      <td><strong>uroboros</strong></td>
      <td>1439</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0.5</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td>8.5</td>
      <td></td>
    </tr>
    <tr>
      <td>19</td>
      <td><strong>farzeet</strong></td>
      <td>1105</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">0</td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td class="table-cell"></td>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <td>20</td>
      <td><strong>MyTrooName</strong></td>
      <td>1167</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell">1</td>
      <td class="table-cell">1</td>
      <td class="table-cell">0</td>
      <td class="table-cell">1</td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell"></td>
      <td class="table-cell-diag"></td>
      <td>6</td>
      <td></td>
    </tr>
  </tbody>
</table>
* Средний elo на 13.09.2013 3.00 МСК
