---
---
/* Bootstrap */

body {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: justify;
}
h1, h2, h3, h4, h5, h6 { text-align: left; }

#content-wrapper {
  padding-top: 20px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/* pgn4web */

@font-face {
  font-family: 'pgn4web ChessSansMerida';
  src: url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessSansMerida.eot');
  src: url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessSansMerida.eot?#iefix') format('embedded-opentype'), url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessSansMerida.woff') format('woff'), url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessSansMerida.ttf') format('truetype'), url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessSansMerida.svg#ChessSansMerida') format('svg');
}

@font-face {
  font-family: 'pgn4web ChessInformantReader';
  src: url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessInformantReader.eot');
  src: url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessInformantReader.eot?#iefix') format('embedded-opentype'), url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessInformantReader.woff') format('woff'), url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessInformantReader.ttf') format('truetype'), url('{{ site.baseurl }}/assets/fonts/pgn4web/ChessInformantReader.svg#CReaderTRegular') format('svg');
}

.pieceImage {
  width: 40px;
  height: 40px;
}
div#BoardWrapper {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 0 0 2em;
}
span.board_mark {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #bbb;
  font-weight: bold;
  text-transform: uppercase;
}
span.board_mark.vert {
  right: -30px;
}
span.board_mark.horz {
  bottom: -33px;
}

.whiteSquare, .highlightWhiteSquare {
  background: #dee3e6;
}
.blackSquare, .highlightBlackSquare {
  background: #8ca2ad;
}
.highlightWhiteSquare, .highlightBlackSquare {
  background-image: url('{{ site.baseurl }}/assets/img/over5.png');
  background-size: cover;
}

.move, .variation, .commentMove {
  font-family: 'pgn4web ChessSansMerida', sans-serif;
}
.move, .variation, .moveOn, .variationOn {
  padding: 0 2px;
  font-weight: bold;
}
.move:hover, .variation:hover,
.moveOn:hover, .variationOn:hover {
  text-decoration: none;
}
.moveOn, .variationOn {
  color: #fff !important;
  background: #428bca;
  border-radius: .25em;
}

#GameWrapper center {
  padding: 20px 0;
  background-color: white;
  z-index: 10;
}
.affix {
  top: 50px;
  left: 0;
  width: inherit;
}

/* Tournament table */

table.tournament thead > tr > th,
table.tournament tbody > tr > th,
table.tournament tfoot > tr > th,
table.tournament thead > tr > td,
table.tournament tbody > tr > td,
table.tournament tfoot > tr > td {
  padding: 2px;
}
table.tournament tbody > tr > .score,
table.tournament tbody > tr > .diagonal {
  min-width: 25px;
  text-align: center;
}
table.tournament tbody > tr > .diagonal {
  background: black;
}

table.tournament tbody > .place-1,
table.tournament tbody > .place-2,
table.tournament tbody > .place-3,
table.tournament tbody > .place-4,
table.tournament tbody > .place-5,
table.tournament tbody > .place-6,
table.tournament tbody > .place-7,
table.tournament tbody > .place-8,
table.tournament tbody > .place-9 {
  background: #77dd77;
}
