/* Bootstrap */

body {
  padding-top: 60px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

/* pgn4web game */

#GameWrapper {
  margin-top: -10px;
  height: 370px;
  padding: 0;
}
#GameWrapper #getFixed {
  height: 370px;
  padding-top: 10px;
  background-color: white;
  z-index: 10;
}
#GameWrapper .fixed {
  position: fixed;
  top: 50px;
  left: 0;
  width: inherit;
}
