---
layout: default
---

<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  <h1>{{ page.title }}</h1>
  {{ content }}
</div>

<div class="col-xs-12 col-sm-5 col-md-4" id="GameWrapper">
  {% include pgn4web.html %}
</div>

<div class="col-xs-12 col-sm-7 col-md-8">
  <!-- paste your PGN below and make sure you dont specify an external
  source with SetPgnUrl() -->
  <form style="display:none;">
    <textarea id="pgnText" style="display:none;">
      {% include {{page.pgn}} %}
    </textarea>
  </form>

  <div id="GameText"></div>
</div>

<!-- Add the extra clearfix -->
<div class="clearfix"></div>
